.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  width: 300px;
}

.nav-items {
  list-style: none;
  font-size: 30px;
  display: flex;
}

.nav-items > li {
  padding: 10px;
}
